@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --form-control-color: #FF9400;
  --form-control-disabled: #FF9400;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*{
    /* outline: solid black; */
    margin: 0;
}
.txtOrange{
    color: #FF9400;
}
.bgOrange{
    background-color: #FF9400;
    border: none;
}
.lightColor{
    color: rgba(38, 44, 105,0.7);
}
.darkColor{
    color: #42445D;
}
.formContainer{
    text-align: center;
    width: 100vw;
}
.formTitle{
    margin-bottom: 4rem;
}
.formTitle > * {
    margin-bottom: 1rem;
}
.heading > h1 {
    font-size: 3rem;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
}

.textFields{
    display: block;
    width: 100%;
    margin: auto;
    font-size: 1.1rem;
    padding: 1rem;
    border: 2px solid #D2D5DA;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    resize: none;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding: 0.5rem;
}
.subject,.description{
    position: relative;
    width: 100%;
    height: 100%;

}
.label{
    color: #42445D;
    font-size: 1.2rem;
    position: absolute;
    z-index: 1;
    left: 5%;
    top: -0.9rem;
    padding: 3px;
    border-radius: 30px;
    background: linear-gradient(rgba(0,0,0,0),rgba(255, 0, 0, 0),rgba(255, 0, 0, 0),rgba(0,0,0,0),rgba(255, 255, 255, 1)45%,rgba(255, 0, 0, 0),rgba(255, 0, 0, 0),rgba(255, 0, 0, 0),rgba(255, 0, 0, 0));
}

/* .label::before {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 50%;
    background-color: rgba(red, green, blue, 0);
} */

.addImage{
    text-align: left;
    margin-left: 25%;
    margin-top: 1rem;
}
.addImage > p {
    font-size: 1.2rem;
}
.addImage > img {
    width: 5%;
}

.submitBtn{
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    max-width: 160px;
    width: 100%;
    text-align: center;
    padding: 0.7%;
    border-radius: 8px;
    letter-spacing: 0.1rem;
}
.submitBtn:active{
    transform: scale(0.95);
}

.subBtn {
    background-color: #FF9400;
}
.subBtn:hover {
    color: #262c69;

}








form {
  /* display: grid; */
  /* place-content: center; */
  /* min-height: 100vh; */
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  /* outline: max(2px, 0.15em) solid currentColor; */
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.sliderContainer {
  width: 100%;
  /* outline: solid black; */

}
.slider {
  width: 25%;
  appearance: none;
  height: 10px;
  border-radius: 25px;
  /* background-color: #FF9400; */
  background: linear-gradient(347deg, rgba(255,183,139,1) 0%, rgba(255,96,0,1) 81%);
  /* box-shadow: 0 0 10px 0 rgba(0,0,0,0.5); */
  opacity: 0.85;
  /* border: solid black; */
}
.slider::-webkit-slider-thumb {
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #262c69;
  border: 0.3rem solid white;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb:hover {
  height: 22px;
  width: 22px;
}
